openapi: 3.0.3
info:
  title: File Processing API
  description: API for extracting, processing, and converting files
  version: 1.0.0
servers:
  - url: https://api.trypulse.ai
    description: Production server

paths:
  /extract:
    post:
      summary: Extract and process a file
      description: Extracts content from a file at the given URL and processes it with specified chunking options.
      operationId: uploadFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file-url:
                  type: string
                  format: uri
                  example: "PRESIGNED_URL"
                chunking:
                  type: string
                  example: "<chunking method>"
                  pattern: ^(semantic|recursive|page|header)(,(semantic|recursive|page|header))*$
                schema:
                  type: object
                  additionalProperties: true
                  example: {}
                  description: JSON schema for processing
              required:
                - file-url
      parameters:
        - name: x-api-key
          in: header
          required: true
          description: API key for authorization
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            enum: ['application/json']
      responses:
        '200':
          description: Successful extraction and processing of file
          content:
            application/json:
              schema:
                type: object
                properties:
                  json:
                    type: object
                    description: Structured JSON representation of the document content
                  markdown:
                    type: string
                    description: Full document content in markdown format
                  chunks:
                    type: object
                    description: Document broken down into smaller, processable chunks
                  plan-info:
                    type: object
                    properties:
                      note:
                        type: string
                        description: Usage information and limits
                      pages_used:
                        type: integer
                        description: Total number of pages processed
                        format: int32
                      tier:
                        type: string
                        description: Current subscription tier
                  schema-json:
                    type: object
                    description: Extracted structured data based on provided schema
                required:
                  - json
                  - markdown
                  - chunks
                  - plan-info
                  - schema-json
        '400':
          description: Bad request errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - "No file or URL provided"
                      - "Failed to download file from URL"
                      - "Error fetching file from URL"
                      - "The PDF content is empty"
                      - "Invalid PDF file"
                      - "Invalid file type"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "API key is required"
        '403':
          description: Forbidden - page limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Page limit exceeded. Your foundation tier limit is 20000 pages. You have processed 20763 pages and are trying to process 1 more pages."
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Error in upload_file"

  /convert:
    post:
      summary: Convert a PDF file
      description: Accepts a PDF file as binary data and performs a specified conversion.
      operationId: convertPdf
      requestBody:
        required: true
        content:
          application/pdf:
            schema:
              type: string
              format: binary
              description: The PDF file to be converted as binary data
      parameters:
        - name: x-api-key
          in: header
          required: true
          description: API key for authorization
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            enum: ['application/pdf']
      responses:
        '200':
          description: Successfully converted PDF file
          content:
            application/json:
              schema:
                type: object
                properties:
                  presigned_url:
                    type: string
                    description: Temporary URL for downloading the processed file
                    example: "https://bucket-name.s3.amazonaws.com/path/to/file.pdf?[signed-parameters]"
                  s3_object_url:
                    type: string
                    description: S3 object URL (without signatures)
                    example: "https://bucket-name.s3.amazonaws.com/path/to/file.pdf"
                  statusCode:
                    type: integer
                    example: 200
                required:
                  - presigned_url
                  - s3_object_url
                  - statusCode
        '400':
          description: Bad request errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - "Invalid content type. Must be application/pdf"
                      - "No PDF content provided"
                      - "Invalid PDF file"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "API key is required"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "An error occurred while processing the file"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: x-api-key
      in: header
      description: API key for authentication

security:
  - ApiKeyAuth: []
